<div id="bio_full">
<div class="bio_pic"><img src="/images/bio-med-amanda-kill.jpg" /></div>
<p>AMANDA A. KILL received her Bachelors of Arts degree, majoring in both political science and public communications with a minor in sociology,
from Syracuse University in 2002, and her Juris Doctorate Degree from Wayne State University Law School in 2005. Upon graduation, Ms. Kill
accepted a position at Stark Reagan where she worked until joining Ahern &amp; Kill in March of 2009. Ms. Kill has also participated in the
foundation for International Studies at the University of Malta. Ms. Kill has focused her practice on commercial litigation, corporate law,
bankruptcy and domestic relations.</p>
<p>
Ms. Kill's practice has included litigation in both federal and state courts in a variety of civil, bankruptcy and domestic matters.
Ms. Kill's corporate practice has included representation of start-ups seeking guidance on formation of their business entity to providing
general business planning advice to established companies.  Ms. Kill has represented clients in various commercial transactional matters,
including real estate purchases, shareholder agreements, LLC operating agreements and employment agreements.</p>
<p>
Ms. Kill is a member of the State Bar of Michigan and the Oakland County Bar Association and is admitted to practice in the Michigan State
Court and the United States District Court for the Eastern District of Michigan.</p>
</div>