﻿<div id="bio_full">
<div class="bio_pic"><img src="/images/bio-med-carey-sienkiewicz.jpg" /></div>
<p>CAREY L. SIENKIEWICZ received two Bachelor of Arts degrees, in Political Science and Criminal Justice, from Michigan State University in 2002 and her Juris Doctor degree from Wayne State University Law School in 2010. Prior to joining Ahern &amp; Kill, Mrs. Sienkiewicz worked at Neighborhood Legal Services supervising law students in a clinical setting.</p>
<p>Mrs. Sienkiewicz worked in the fashion and logistics industries before attending law school.  She has experience with merchandising, coordination of fashion shows, purchasing and has worked directly with many luxury designers. In addition, she has managed numerous marketing programs for new products and services on behalf of several fortune 500 companies.  Mrs. Sienkiewicz has also served on the Board of Directors for The Free Legal Aid Clinic, where she negotiated contracts and secured funding on behalf of the Clinic.</p>
<p>Mrs. Sienkiewicz is a member of the State Bar of Michigan, the Oakland County Bar Association, and the Detroit Metropolitan Bar Association and is admitted to practice in the state courts of Michigan and the United Stated District Court for the Eastern District of Michigan.</p>
</div>