﻿<div id="bio_full">
<div class="bio_pic"><img src="/images/bio-med-jeffrey-fleury.jpg" /></div>
<p>
JEFFREY J. FLEURY, a 1988 Brother Rice High School graduate, received his Bachelors of Arts degree from Michigan State University in 1992.
In 1995, Mr. Fleury received his Juris Doctor degree cum laude from the University of Detroit School of Law, where he had served as an
Articles Editor for the Law Review and finished in the top 10% of his graduating class.</p>
<p>
Mr. Fleury spent his first year of legal practice with the Michigan Court of Appeals. Thereafter, he went into private practice joining
Cox, Hodgman & Giarmarco and then Stark Reagan in 1998.  After being a partner for 4 years at Stark Reagan, in March 2009, Mr. Fleury
formed Ahern Fleury with longtime Stark Reagan managing partner Joseph Ahern.  During his seventeen years in private practice, Mr.
Fleury's practice has focused primarily on commercial litigation matters with an emphasis on collection matters. Mr. Fleury has served
as an Oakland County Case Evaluator since 2003.</p>
<p>
Mr. Fleury is admitted to practice in all Michigan state courts, the United States Federal District Courts for the Eastern and
Western Districts of Michigan, and the United States Sixth Circuit Court of Appeals.  He is a member of the State Bar of Michigan
and the Oakland County Bar Association. He has been selected as a <a target="_blank" href="http://www.superlawyers.com/michigan/lawyer/Jeffrey-J-Fleury/17d31930-863e-4a7a-a22c-0fd068443eb9.html">Michigan "Super Lawyer"</a> for 2010 and 2011 and recently a
<a target="_blank" href="http://www.dbusiness.com/DBusiness/Top-Lawyers-2012/index.php/search/Fleury/searchmode/partial/">Top
Collection Lawyer by dBusiness Magazine.</a></p>
</div>