﻿<div id="bio_full">
<div class="bio_pic"><img src="/images/bio-med-jennifer-meyers.jpg" /></div>
<p>JENNIFER L. MEYERS is a Michigan licensed attorney who has transitioned into administrative law office management.  Prior to joining Ahern & Kill in 2012 Jennifer Meyers owned and operated her own general practice, served as in-house counsel for several Michigan corporations, practiced law with three different Michigan based law firms, and managed multiple teams of attorneys in document review projects.  During law school, Ms. Meyers worked for the State of Michigan Attorney Grievance Commission where she assisted staff counsel investigating allegations of professional misconduct.  Ms. Meyers has also taught business, contract, and constitutional law at the university level.</p>
<p>Ms. Meyers is a graduate of The University of Detroit Mercy School of Law (2001), and Grand Valley State University (1996, with honors), with a Bachelor of Science degree in Sociology.  During her time at University of Detroit Mercy she served as Treasurer for the law fraternity, Phi Alpha Delta, and received several awards for outstanding academic achievement in business and securities law, and for community service.</p>
</div>