<div id="bio_full">
<div class="bio_pic"><img src="/images/bio-med-johanna-kononen.jpg" /></div>
<p>JOHANNA L. KONONEN received her Bachelor of Arts degree, majoring in nursing, from St. Olaf College in 2001, she passed her Michigan nursing boards that fall and is a registered nurse.  Ms. Kononen then went on to obtain her Juris Doctor degree from Wayne State University Law School in 2004.  After graduating from law school Ms. Kononen worked for legal aid advocating and representing survivors of domestic violence in family law disputes.</p>
<p>Ms. Kononen has been in private practice for the last three years.  Ms. Kononen practices in the areas of family law, contract law, commercial and small business law and collections.</p>
<p>Ms. Kononen is a member of the State Bar of Michigan and is admitted to practice in Michigan State Court.</p>
</div>