﻿<div id="bio_full">
<div class="bio_pic"><img src="/images/bio-med-michael-bill.jpg" /></div>
<p>MICHAEL J. BILL concentrates his practice in the areas of contract disputes and commercial transactions with an emphasis on commercial collection matters.</p>
<p>Mr. Bill graduated cum laude from the University of Michigan in 2007 with a Bachelor of Arts Degree, majoring in Political Science and History.  Michael received his Juris Doctor degree from Tulane University Law School in 2010. During law school, Mr. Bill focused a large part of his studies on Maritime & Admiralty law, earning a certificate of specialization in the field in 2010.  Mr. Bill also served as a law clerk for the Honorable Judge Gregory D. Bill and later clerked at the law firm of Giarmarco, Mullins & Horton, P.C.</p>
<p>Mr. Bill is admitted to practice in all Michigan State Courts and the United States Federal District Court for the Eastern District of Michigan.  He is a member of the State Bar of Michigan and the Oakland County Bar Association.</p>
</div>