﻿body
{
	margin: 20 0 20 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
    background-image: url('/images/bg.gif');
    background-position:center;
    background-repeat:repeat;
}

td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

h1
{
    margin-left: 0px;
    margin-top:0px;
    margin-bottom:7px;
    color: #233F6E;
    font-size: 16px;
}

h2
{
    margin-left: 0px;
    margin-top:0px;
    margin-bottom:7px;
    color: #233F6E;
    font-size: 14px;
}

a
{
	color: #233F6E;
	text-decoration:underline;
}
a:hover
{
	color: #547FC4;
	text-decoration:underline;
}

img
{
	border: none;
}

div#shell
{
	width:760px;
	background-color:#FFFFFF;
	border: solid 1px #CCCCCC;
}

div#spc
{
	padding:3px;
}
div.spc2
{
	padding-top:4px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:4px;
}

div#header
{
	display:block;
	clear:both;
	width:754px;
	height:134px;
	text-align:left;
	border-top: dashed 0px green;
	border-bottom: dashed 0px green;
	margin-bottom:0px;
	background-image: url('/images/hdr-bg.gif');
	background-repeat:no-repeat;
}

/*FF clearfix http://www.positioniseverything.net/easyclearing.html */
div#header:after
{
    content: ".";
    display:none;
    clear:none;
	height:134px;
	width:754px;
}

div#header_left
{
    display:block;
    clear:both;
    float:left;
	width:268px;
    height:134px;
	border-top: dotted 0px orange;
}

div#header_right
{
    display:block;
    float:right;
    margin-top:84px;
    padding-bottom:0px;
    margin-bottom:0px;
	border-top: dotted 0px yellow;
}

div.main_nav
{
    display:block;
	width:486px;
	height:50px;
	text-align:left;
	border-top: dashed 0px yellow;
	border-bottom:solid 0px #625D58;
	margin-top:0px;
	background-color: #FFFFFF;
	clear:both;
}

div#body
{
    display:block;
	clear:both;
	width:754px;
	text-align:left;
	border-top: dashed 0px green;
	border-bottom: dashed 0px green;
	margin-top:3px;
}

div#content
{
    display:block;
    float:left;
	width:551px;
	text-align:left;
	border-top: dotted 0px red;
	border-bottom: dotted 0px red;
	/*background-color: #F5F5F5;*/
}

div.masthead img
{
    margin-bottom:3px;
	width:549px;
	height:185px;
	border: solid 1px #CCCCCC;
}

div.main_blurb
{
	width:551px;
	min-height:280px;
	overflow:visible;
    background-image: url('/images/bg-content.gif');
    background-repeat:repeat-y;
}
div#main_blurb_index
{
	height:230px;
}
div#main_blurb_practice-areas, div#main_blurb_attorney-profiles, div#main_blurb_contact
{
	height:auto;
}

div#main_blurb_top
{
	width:551px;
	height:10px;
	margin-bottom: 0px;
	font-size:4pt;
    background-image: url('/images/bg-content-top.gif');
}

div#main_blurb_bottom
{
	width:551px;
	height:10px;
	margin-top: 0px;
	margin-bottom: 3px;
	font-size:4pt;
    background-image: url('/images/bg-content-bottom.gif');
}

div#callout
{
    display:block;
    float:right;
	width:200px;
	text-align:left;
	border-top: dotted 0px red;
	border-bottom: dotted 0px red;
}

div#callout img
{
	width:198px;
	/*height:185px;*/
	border: solid 1px #CCCCCC;
}

div#callout_text
{
	width:200px;
	height:230px;
    background-image: url('/images/bg-callout.gif');
    background-repeat:repeat-y;
}

div#callout_text div
{
    font-size: 12px;
    margin-top:0px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:0px;
}

div#callout_text_top
{
	width:200px;
	height:10px;
	margin-top: 3px;
	margin-bottom: 0px;
	font-size:4pt;
    background-image: url('/images/bg-callout-top.gif');
}

div#callout_text_bottom
{
	width:200px;
	height:10px;
	margin-top: 0px;
	margin-bottom: 3px;
	font-size:4pt;
    background-image: url('/images/bg-callout-bottom.gif');
}

div.bio
{
    display:block;
    clear:both;
    padding-top:14px;
    padding-bottom:14px;
}

div.bio img
{
    width:105px;
    height: 73px;
    margin-right: 14px;
    border: solid 1px #CCCCCC;
}

div#bio_full p
{
    margin-top: 0px;
    margin-bottom: 14px;
}

div.bio_pic img
{
    width:200px;
    /*height:238px;*/
    margin-right: 14px;
    margin-bottom: 5px;
    border: solid 1px #CCCCCC;
    float:left;
    clear: none;
}

div.bio_name
{
    font-weight:bold;
    padding-bottom:3px;
}

div.bio_abstract
{
    width:402px;
}

div#footer
{
    display:block;
	clear:both;
	width:754px;
	text-align:right;
	color: #666666;
	font-style: normal;
	font-size: 11px;
	height:34px;
	border: solid 0px white;
	text-decoration: none;
    background-image: url('/images/ftr-bg.gif');
    background-repeat:no-repeat;
}

div#footer_left
{
    display:block;
    float:left;
    text-align:left;
    vertical-align:middle;
	width:200px;
    height:34px;
}

div#footer_right
{
    display:block;
    float:right;
    height:34px;
}

div#contact_map
{
    display:block;
    width:531px;
    height:400px;
    clear:both;
}width:531px;
    height:400px;
    clear:both;
}